# IEX Cloud Workshop

In [6]:
import pandas as pd
from econ_utils import create_df, iex_cloud_api

### Get the crypto list

In [11]:
crypto_list = iex_cloud_api("ref-data/crypto/symbols")
crypto_list_df = create_df(crypto_list)
crypto_list_df

,symbol,name,exchange,date,type,region,currency,isEnabled
0,BTCUSD,Bitcoin to USD,None,2022-04-12,crypto,US,USD,True
1,ETHUSD,Ethereum to USD,None,2022-04-12,crypto,US,USD,True
2,ETHBTC,Ethereum to Bitcoin,None,2022-04-12,crypto,US,BTC,True
3,ZECUSD,Zcash to USD,None,2022-04-12,crypto,US,USD,True
4,ZECBTC,Zcash to Bitcoin,None,2022-04-12,crypto,US,BTC,True
...,...,...,...,...,...,...,...,...
2009,BSWETH,BSW to ETH,None,2022-04-12,crypto,US,ETH,True
2010,FILTRY,FIL to TRY,None,2022-04-12,crypto,US,TRY,True
2011,FTMEUR,FTM to EUR,None,2022-04-12,crypto,US,EUR,True
2012,GMTGBP,GMT to GBP,None,2022-04-12,crypto,US,GBP,True
2013,ZILTRY,ZIL to TRY,None,2022-04-12,crypto,US,TRY,True

### Get SP 100 list

In [12]:
sp_100_df = pd.read_excel("../data/SP100.xlsx")
sp_100_df

    Symbol              Company Name                  Sector
0     AAPL                     Apple  Information Technology
1     ABBV                    AbbVie             Health Care
2      ABT                    Abbott             Health Care
3      ACN                 Accenture  Information Technology
4     ADBE                     Adobe  Information Technology
..     ...                       ...                     ...
96      VZ                   Verizon  Communication Services
97     WBA  Walgreens Boots Alliance        Consumer Staples
98     WFC               Wells Fargo              Financials
99     WMT                   Walmart        Consumer Staples
100    XOM                ExxonMobil                  Energy

[101 rows x 3 columns]